.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  width: 100%;
  margin: 0 auto;
  position: relative;
    max-width: 980px;
}

#container {
  position: relative;
  margin-top: 50px;
}

svg {
  top: 0;
  position: absolute;
}

#Header {
  fill: #bbbbbb;
  width: 668px;
  height: 53.75px;
  left: 142.073px;
}

#Continents {
  fill: gray;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.4));
}


/* For video masking */
/*
@font-face {
  font-family: Biko;
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/biko-black.woff");
}
header video {
  width: 100%;
}
svg text {
  font-family: Biko, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 38px;
}
svg > rect {
  -webkit-mask: url(#mask);
  mask: url(#mask);
}
*/
.widelo {
  /* clip-path: url(#mask); */
  position: absolute;
  top: 0;
  left: 0;
  /* mask: url(#Continents); */
  /* clip-path: url(#myClip); */
  clip-path: url(#Continents4C);
}